<div id="<%= dom_id course %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= course.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= course.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image url:</strong>
    <%= course.image_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= course.price %>
  </div>
</div>
